.dashboard-container {
    display: flex;
    flex-direction: column;
    position: obsolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

h1.app-name {
    margin-left: 8px;
    margin-top: 20px;
}
